h1{
    color: rgb(126, 0, 253);
}
p{
    color:rgb(255, 0, 0);
}
header{
    color: aliceblue;
    background-color: black;
 }
.presentazione{ 
    border: 3px solid;
    display: flex;
    flex-direction: row;
}

.lista{ 
    border: 3px solid;
    display: flex;
    flex-direction: column;
}

.tabella{ 
    border: 3px solid;
    display: flex;
    flex-direction: column;
}
table, th, td{ 
    border: 1px solid black;

}

th{ 
background-color: cadetblue;
    color: aliceblue;
}
tr{ 
    background-color:#bb7be0;
    color: aliceblue;
}
